@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 900;
  font-display: block;
  src: url(/fonts/lato-900i.ttf) format('truetype');
}

@font-face {
  font-family: 'Nanum Gothic', sans-serif;
  font-weight: 400;
  font-display: block;
  src: url(/fonts/nanum-gothic-400.ttf) format('truetype');
}
@font-face {
  font-family: 'Nanum Gothic', sans-serif;
  font-weight: 700;
  font-display: block;
  src: url(/fonts/nanum-gothic-700.ttf) format('truetype');
}

@font-face {
  font-family: 'Nanum Gothic', sans-serif;
  font-weight: 800;
  font-display: block;
  src: url(/fonts/nanum-gothic-800.ttf) format('truetype');
}

@import './markdown.scss';

:root {
  // color-scheme: light dark;
  // color: rgba(255, 255, 255, 0.87);
  // background-color: #242424;
  font-size: 14px;
  font-family: 'Nanum Gothic', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
}
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  margin: 0;
}
#app {
  position: absolute;
  inset: 0;
  height: 100%;
  overflow-y: auto;
  div.container {
    max-width: 720px;
  }
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  position: absolute;
  left: 0;
  // opacity: 0.1;
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: mediumpurple;
}

.abs {
  &-fill {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
  }
  &-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

button {
  &.nude {
    background-color: transparent;
    outline: none;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    font-size: 1.15rem;
    font-weight: 400;
  }
  &:active {
    transform: translate(1px, 1px);
  }
  &.blue {
    background-color: #0069eb;
    color: white;
    &:hover {
      background-color: #367ed6;
    }
    &:active {
      background-color: #0156bd;
    }
  }
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
p {
  margin: 0;
}

.imgview {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.shadow {
  &-1 {
    box-shadow: 0px 0px 2px #0000006d, 0 0 1px #0000003d;
  }
  &-3 {
    box-shadow: 2px 2px 4px #0000004d, 0 0 2px #0000003d;
  }
}

.shape {
  &.jrtheme {
    background-color: white;
    padding: 0 6px 0 30px;
    border-radius: 20px;
    box-shadow: 0 0 2px #0000008d, 1px 1px 8px #0000004d;
    position: relative;
    height: 22px;
    display: flex;
    align-items: center;
    cursor: pointer;

    h5 {
      font-weight: 400;
    }

    &.easy {
      &:before {
        background-color: #00ff00;
      }
    }
    &.medium {
      &:before {
        background-color: #ffee00;
      }
    }
    &.hard {
      &:before {
        background-color: #ef6200;
      }
    }
    &.extreme {
      &:before {
        background-color: #000000;
      }
    }
    &:before {
      content: '';
      position: absolute;
      top: -4px;
      left: -4px;
      width: 30px;
      height: 30px;
      border-radius: 20px;
      display: flex;
    }
    &:after {
      content: '';
      font-weight: 700;
      font-size: 11px;
      position: absolute;
      top: 0px;
      left: 0px;
      width: 22px;
      height: 22px;

      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 20px;
    }
    &.theme-100:after {
      background-color: #017b09;
      content: '해';
    }
    &.theme-200:after {
      background-color: #0e80ff;
      content: '남';
    }
    &.theme-300:after {
      background-color: #d24403;
      content: '서';
    }
  }
  &.milestone {
    display: flex;
    flex-direction: column;

    border-radius: 4px;
    .d {
      text-shadow: 1px 1px 1px #000000, 1px -1px 1px #000, -1px -1px 1px #000,
        -1px 1px 1px #000, 0px 0px 4px #000;
      font-size: 12px;
      color: white;
      font-weight: 900;
    }
    .bar {
      position: relative;
      display: block;
      height: 20px;
      width: 2px;
      left: 50%;
      background-color: #3a3a3a;
      transform: translateX(-50%);
      &::after {
        position: absolute;
        bottom: 0;
        left: 50%;
        content: '';
        width: 10px;
        height: 10px;
        background-color: #3a3a3a;
        border-radius: 14px;
        transform: translate(-50%, 50%) rotateX(45deg);
      }
    }
  }
}
.mg {
  &-r {
    &-1rem {
      margin-right: 1rem;
    }
  }
}
